//- extends layout to your side
extends layout/layout

block var
  - scriptpage ="home";
  - title = "Demo Form";

block content
    .content-wrapper
        .input-form
            input
        .button-search
            button Search