- var activefooter;
footer#footer
    .container
        .row
            .col-md-12.col-sm-12.copyright.text-right.pull-right
                p Citigroup.com is the global source of information about and access to financial services provided by the Citigroup family of companies.
                p Copyright © 2018 Citigroup Inc.