- var active;
header#header
    section.top-header
    section.banner-header
        .container
            figure.logoWrapper
                a(href="https://www.citibank.com.sg/citi-priority/index.htm?icid=SGCYU9EENCTWICACI")
                    img(src="images/upload/citigold_logo.png",alt="Logo Citi",title="Logo Citi")